Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

TabletDebugger: Seal class
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Localize some class members instead
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Add tablet filtering
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

Tablet Debugger: Add rudimentary menu
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Follow Rider recommendations
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Add tablet names to title on launch
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Add #sections in code
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

Desktop/ViewModel: Don't raise unless value really changed
  OpenTabletDriver.Desktop/ViewModel.cs
Labels: desktop

Fix missing raise event for DeviceName
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Add binary decoding mode
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Clean up constructor and move fields back to class as readonly
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Apply Rider suggestions
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Calculate `MinimumSize` for MaximumPosition box
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Declare padding additions magic number as const
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

UX/Extensions: Add Measure(text, repeats)
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Inline a too specific function
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

ScheduledDrawable: Hook render scheduling to Enabled property instead
  OpenTabletDriver.UX/Controls/Generic/ScheduledDrawable.cs
Labels: gui

TabletDebugger: Allow disabling visualizer
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Add support for arbitrary extended stats
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Use moving average to calculate report rate
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

Add missing UnitLabel control
  OpenTabletDriver.UX/Controls/Generic/UnitLabel.cs
Labels: gui

TabletDebugger: Wrap Additional Stats every 3 groups
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Add Aux Buttons status checks to Additional Stats
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

Tablet Debugger: Add Touch Position to Additional Stats
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

(minor) linting
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Move the ViewModel to OpenTabletDriver.Desktop
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.Plugin/ReportFormatter.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui, plugins

TabletDebuggerViewModel/Statistic: Add xmldoc
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

(minor) request ViewModel improvements as TODO
  OpenTabletDriver.Desktop/ViewModel.cs
Labels: desktop

ViewModel/TabletDebugger: Fixup CollectionChanged events, especially when occuring from properties
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Add Tilt to additional stats
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebuggerViewModel: Add Pen Buttons
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

(minor) TabletDebuggerViewModel: Rename method variable
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Inline max groups per row with rudimentary algorithm
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Split Additional Stats groups into 'buckets'
  OpenTabletDriver.Desktop/Helpers.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebugger: Rename function to reduce confusion
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Dump AdditionalStatistics on data recording end
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebuggerViewModel: Reset additional stats on recording start
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

(minor) Statistic: Fix incorrect constructor parameter type
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

Statistics: Don't show '<null>' in group stats when querying string value
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Center AdditionalStats content horizontally
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3
