Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

(minor) TabletDebuggerViewModel: Cleanup variable usages and naming
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebuggerViewModel: Trim endlines in tablet data dumps
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebuggerViewModel: Add SavecountAdd1(string) and HideAllChildren()
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebuggerViewModel/Statistic: Add ToString override
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Add debug-only menu for force refreshing stats
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Fix logic in element selection
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Stats: Add remaining interfaces
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

(minor) Add a bunch of TODO's
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

JsonRpc: Use ExceptionProcessing.ISerializable
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
Labels: desktop

TabletDebuggerViewModel/Statistics: Fix child collection event signaling
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebugger: Async add of additional stats
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Hide some more fields from the UI
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Use Scrollable for leftmost panel
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Sort additional stat groups by name
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebugger: Start showing 5 stat columns from smaller window sizes
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Hide Visualizer if disabled
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Avoid style flash when recalculating additional stats group
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

Desktop/Helpers/SplitIntoBuckets: Fix misleading parameter naming
  OpenTabletDriver.Desktop/Helpers.cs
Labels: desktop

TabletDebuggerViewModel: Split out Statistics class and enums
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.Desktop/ViewModels/Utility/Enums.cs
  OpenTabletDriver.Desktop/ViewModels/Utility/Statistics.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebugger: Make file nullable
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Apply Rider suggestions
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Remove pointless inheritance
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

Utility/Statistics: Enable nullable
  OpenTabletDriver.Desktop/ViewModels/Utility/Statistics.cs
Labels: desktop

TabletDebuggerViewModel: Use proper exception
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

Statistics: Reorder class, add xmldocs, and add regions
  OpenTabletDriver.Desktop/ViewModels/Utility/Statistics.cs
Labels: desktop

(minor) formatting
  OpenTabletDriver.Desktop/ViewModels/Utility/Statistics.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

UX/DeviceStringReader: Add USB device drop-down
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
Labels: gui

SerializedDeviceEndpoint: Add ToString() override
  OpenTabletDriver.Plugin/Devices/SerializedDeviceEndpoint.cs
Labels: plugins

UX/DeviceStringReader: Use friendlier (larger) default size
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
Labels: gui

GUI: Support reconnecting to daemon
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

MainForm: On daemon disconnect, restart watchdog (if relevant)
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

MainForm: Unsubscribe Log.Output even on daemon disconnect
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

GUI: Disable apply/save buttons after click
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

Daemon: Log filter settings
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

Filter Settings: Simplify `foreach`
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

(minor) fix formatting
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

CLI: Use `WriteLine` instead of `Write`
  OpenTabletDriver.Console/Program.cs
Labels: console

Tests: Fix type nullability mismatch
  OpenTabletDriver.Tests/PluginMetadataTest.cs
  OpenTabletDriver.Tests/Updater/UpdaterTests.cs
Labels: tests

README: Remove CodeFactor badge
  README.md
Labels: documentation

README: Extend features list with known new features
  README.md
Labels: documentation

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3
