Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3

Huion (H)420: Adjust LPI to 2000
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
  OpenTabletDriver.Configurations/Configurations/Huion/H420.json
Labels: configuration

Genius i608x: LPI 5120 -> 5080
  OpenTabletDriver.Configurations/Configurations/Genius/i608x.json
Labels: configuration

Lifetec LT9570: Adjust LPI to exactly 508
  OpenTabletDriver.Configurations/Configurations/Lifetec/LT9570.json
Labels: configuration

Monoprice MP1060-HA60: Fix off-by-one dimensions
  OpenTabletDriver.Configurations/Configurations/Monoprice/MP1060-HA60.json
Labels: configuration

test/tablet LPI: Refine LPI axis mismatch error wording
  OpenTabletDriver.Tests/ConfigurationTest.cs
Labels: tests

XP-Pen: Fix off-by-one tablet dimensions
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 15.6 Pro V2.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640 (Variant 2).json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640S.json
Labels: configuration

Parblo A640 (and V2): Adjust LPI to 5080
  OpenTabletDriver.Configurations/Configurations/Parblo/A640 V2.json
  OpenTabletDriver.Configurations/Configurations/Parblo/A640.json
Labels: configuration

Parblo Intangbo S: Adjust LPI up to 2540
  OpenTabletDriver.Configurations/Configurations/Parblo/Intangbo S.json
Labels: configuration

Parblo Ninos N7: Confirm 3600 LPI
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N7.json
Labels: configuration

Parblo Ninos M: Adjust LPI to 2540
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos M.json
Labels: configuration

Parblo Ninos N7B: Mark physical dimensions as weird
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N7B.json
  TABLETS.md
Labels: configuration

Parblo Ninos S: 4134/4379 LPI -> 4000 LPI
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos S.json
Labels: configuration

RobotPen T9A: LPI 1950 -> 2000
  OpenTabletDriver.Configurations/Configurations/RobotPen/T9A.json
Labels: configuration

VEIKK A15 V2: Fix Y LPI 5291 -> 5080, like X LPI
  OpenTabletDriver.Configurations/Configurations/VEIKK/A15 V2.json
Labels: configuration

VEIKK VK430: Confirm that dimensions are correct
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK430.json
Labels: configuration

XP-Pen Deco 02: Validated physical dimensions
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 02.json
Labels: configuration

updated TABLETS.MD
  TABLETS.md
Labels: none

added initial support for XP-Pen Deco LW
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco LW.json
Labels: configuration

Fix CI fails
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3 Pro V2.json
  TABLETS.md
Labels: configuration

Fix config key order
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3 Pro V2.json
Labels: configuration

Revert "Parblo Ninos M: Adjust LPI to 2540"
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos M.json
Labels: configuration

Parblo Ninos M: Mark existing dimensions as dubious
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos M.json
  TABLETS.md
Labels: configuration

Dictionary: Add 'lpmm'
  OpenTabletDriver.sln.DotSettings
Labels: none

deps/Eto: Upgrade to 2.10.2
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
Labels: gui, linux/gtk, windows/wpf, macos

.github: Pull remaining templates from `master`
  .github/DISCUSSION_TEMPLATE/support-request.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/tablet_configuration.md
  .github/ISSUE_TEMPLATE/tablet_configuration.yml
Labels: none

PR labeler: Move config to pr-labeler.yml
  .github/pr-labeler.yml
  .github/workflows/_uses-labeler.yml
Labels: ci

.github: Add issue labeler from `master`
  .github/issue-labeler.yml
  .github/workflows/issue-labeler.yml
Labels: ci

UX: Don't invoke application when --help is used
  OpenTabletDriver.UX/App.cs
Labels: gui

Daemon: Don't invoke when --help is used
  OpenTabletDriver.Daemon/Program.cs
Labels: daemon

CLI/UX --help flag: Environment.Exit instead
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.UX/App.cs
Labels: daemon, gui

(minor) reorder imports
  OpenTabletDriver.Daemon/Program.cs
Labels: daemon

Nuget: Update all packages except Eto
  OpenTabletDriver.Benchmarks/OpenTabletDriver.Benchmarks.csproj
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Interop/Display/WindowsDisplay.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/WindowsVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: core, daemon, desktop, plugins, tests, windows/wpf

deps: Bump csproj versions
  OpenTabletDriver.Benchmarks/OpenTabletDriver.Benchmarks.csproj
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: core, desktop, tests

Update System.Commandline to beta5 support
  OpenTabletDriver.Console/CommandTools.cs
  OpenTabletDriver.Console/Extensions.cs
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.Tests/Fakes/FakeHidDevice.cs
  OpenTabletDriver.UX/App.cs
Labels: console, daemon, gui, tests

Fix test compile warnings
  OpenTabletDriver.Tests/PluginMetadataTest.cs
  OpenTabletDriver.Tests/Updater/UpdaterTests.cs
Labels: tests

(minor) Satisfy lint
  OpenTabletDriver.Console/CommandTools.cs
  OpenTabletDriver.UX/App.cs
Labels: console, gui

Daemon: Tear out self-updater code
  OpenTabletDriver.Daemon/Program.cs
Labels: daemon

daemon: Remove action handler usage for appdata/configs dir
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.UX/App.cs
Labels: daemon, gui

update the README_CN.md
  docs/README_CN.md
Labels: documentation

Artist Mode: Tool reporting + proximity handling
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Native/Linux/Evdev/EventType.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/IOutputMode.cs
  OpenTabletDriver.Plugin/Output/OutputMode.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IConfidenceHandler.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IToolHandler.cs
  OpenTabletDriver.UX/Controls/Bindings/PenBindingEditor.cs
  OpenTabletDriver.sln.DotSettings
Labels: daemon, desktop, gui, plugins, linux/gtk
