Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3

IntuosV1ToolReport: Fix incorrect shift
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1ToolReport.cs
Labels: configuration

tests: Split config tests into subfolder
  OpenTabletDriver.Tests/ConfigurationTest.cs
  OpenTabletDriver.Tests/ConfigurationTest/ConfigurationTest.cs
  OpenTabletDriver.Tests/ConfigurationTest/Consts.cs
  OpenTabletDriver.Tests/ConfigurationTest/DeviceIdentifierTest.SelfTests.cs
  OpenTabletDriver.Tests/ConfigurationTest/DeviceIdentifierTest.cs
  OpenTabletDriver.Tests/ConfigurationTest/Extensions.cs
  OpenTabletDriver.Tests/ConfigurationTest/TestData.cs
  OpenTabletDriver.Tests/ConfigurationTest/TestTabletConfiguration.cs
  OpenTabletDriver.Tests/ConfigurationTest/TestTypes.cs
  OpenTabletDriver.Tests/ReportParserProviderTest.cs
Labels: tests

Add Attributes test and self tests
  OpenTabletDriver.Tests/ConfigurationTest/AttributesTest.SelfTests.cs
  OpenTabletDriver.Tests/ConfigurationTest/AttributesTest.cs
Labels: tests

tests: Add xmldoc for CheckWinUsage attribute test
  OpenTabletDriver.Tests/ConfigurationTest/AttributesTest.cs
Labels: tests

(minor) lint with dotnet format
  OpenTabletDriver.Tests/ConfigurationTest/Extensions.cs
  OpenTabletDriver.Tests/ConfigurationTest/TestTypes.cs
Labels: tests

tests: Simplify CheckWinUsage attribute test
  OpenTabletDriver.Tests/ConfigurationTest/AttributesTest.cs
Labels: tests

(minor) tests: Improve xmldoc on CheckWinusage attribute test
  OpenTabletDriver.Tests/ConfigurationTest/AttributesTest.cs
Labels: tests

ConfigProvider: Specify number of overridden configs
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

ConfigProvider: Info-log overridden configurations per-tablet
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

(minor) ConfigProvider: Avoid double enumeration
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

ConfigProvider: Only emit specific overrides if built-in was found
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

ConfigProvider: Clarify config folder override logging
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

CTE-460: Use same parser as CTE-660
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-460.json
Labels: configuration

CLI: Add `maptodisplayindex` command
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
Labels: console

CLI: Add `listdisplays` command
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
Labels: console

(minor) CLI: clean up `using`s
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.IPC.cs
Labels: console

Exception.ShowMessageBox: Show full stack trace
  OpenTabletDriver.UX/Extensions.cs
Labels: gui

JsonRpc: Use ExceptionProcessing.ISerializable
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
Labels: desktop

Log/Exception(Exception): Also print inner exceptions
  OpenTabletDriver.Plugin/Log.cs
Labels: plugins

CLI: Fix invalid Log statement
  OpenTabletDriver.Console/Program.Commands.cs
Labels: console

CLI: Make more stuff async
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.Misc.cs
Labels: console

CLI: Throw exception in GetProfile if profile is null
  OpenTabletDriver.Console/Program.Misc.cs
Labels: console

Daemon: LoadUserSettings tyep -> Task
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

Daemon: Set daemonRunning to false in catch block
  OpenTabletDriver.Daemon/Program.cs
Labels: daemon

GUI: Use AsyncInvoke in setup routines
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: gui

GUI: Allow AsyncVoidMethod on `AsyncInvoke` calls
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/TabletSwitcherPanel.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: gui

TabletSwitcher: Properly handle exceptions in OnProfilesChanged
  OpenTabletDriver.UX/Controls/TabletSwitcherPanel.cs
Labels: gui

dict: Add SHA to allowed names in code
  OpenTabletDriver.sln.DotSettings
Labels: none

RpcHost: Rewrite to clearer indicate no-wait async handling
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
Labels: desktop

RpcHost: Simplify constructor
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
Labels: desktop

RpcHost: Inform about client connections on host side
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
Labels: desktop

CLI: Exit on daemon disconnection
  OpenTabletDriver.Console/Program.cs
Labels: console

Add additional code naming abbreviations
  OpenTabletDriver.sln.DotSettings
Labels: none

Tablet Debugger: Rework to horizontal layout
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

Tablet Debugger: Move to Viewmodel
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Filter by model + report type instead of by model only
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Genericize to allow for other filtering types
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

(minor) cleanup
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Further genericize functions
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui

TabletDebugger: Hide reports recorded before any recording
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/Tablet/ViewModel/TabletDebuggerViewModel.cs
Labels: gui
