Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3

README: Fix and remove irrelevant or invalid links
  README.md
Labels: documentation

README: Clarify Express bindings == Aux bindings
  README.md
Labels: documentation

README: Update GitHub actions status badge
  README.md
Labels: documentation

README: add missing grammar word
  README.md
Labels: documentation

README: Reword and simplify supported tablets section
  README.md
Labels: documentation

README: Reword Supported Tablets section
  README.md
Labels: documentation

UCLogicReportParser: Add Out of Range detection
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicReportParser.cs
Labels: configuration

TabletDebuggerViewModel: Rename 'SeenTablets' to more accurate 'SeenReports'
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebuggerViewModel: Add IgnoredTablets support
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

TabletDebugger: Set minimum height of visualizer to 200px
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebugger: Remove unneeded MinimumSize declaration
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

TabletDebuggerViewModel: Instantly update `RawTabletData` on `DecodingMode` change
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
Labels: desktop

TabletDebugger: Add TODO's
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

(minor) satisfy linter
  OpenTabletDriver.Desktop/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: desktop, gui

GUI: Save/Apply debounce 2.5s -> 1.0s
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

GUI: Save/Apply failsafe re-enablement
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

PluginSettingStoreCollection: Support `null` elements in `SetExpectedCount`
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
Labels: desktop

MainForm: Add export diagnostics to clipboard menu option
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

CLI: Handle daemon connection inside functions
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Console/Program.cs
Labels: console

Huion H951P Tilt Y-axis fix in InspiroyReportParsers.cs #25
  OpenTabletDriver.Configurations/Parsers/Huion/InspiroyReportParser.cs
Labels: configuration

H1061P: Support `HUION_T255_250521` as device string
  OpenTabletDriver.Configurations/Configurations/Huion/H1061P.json
Labels: configuration

ViewModel: Only raise if value actually changed
  OpenTabletDriver.Desktop/ViewModel.cs
Labels: desktop

Work around quest incompatibility by blacklisting USB vendor ID in WinUSB
  OpenTabletDriver/Devices/WinUSB/WinUSBInterface.cs
Labels: core, windows/wpf

Multi Wheel: Update all tablet configs for new spec
  OpenTabletDriver.Configurations/Configurations/Huion/HS610.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 16 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-451.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-460.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-651.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-660.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-860.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-1240.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-470.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-540WL.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-640.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-670.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-840.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-870.json
  OpenTabletDriver.Configurations/Configurations/XOPPOX/D161.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3 Pro V2.json
Labels: configuration

UX/FloatSlider: Properly support setting max/min for sliders
  OpenTabletDriver.UX/Controls/Generic/FloatSlider.cs
Labels: gui

Feature: Multi-wheel support
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-851.json
  OpenTabletDriver.Configurations/Parsers/Huion/HuionWheelReport.cs
  OpenTabletDriver.Configurations/Parsers/Huion/InspiroyAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Huion/KamvasRelWheelReport.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkRelativeWheelReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos4/Intuos4AuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosPro/IntuosProAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2AuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3AuxReport.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenAuxReport.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
  OpenTabletDriver.Desktop/Binding/DeltaThresholdBindingState.cs
  OpenTabletDriver.Desktop/Binding/WheelBindings.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Desktop/Profiles/WheelBindingSettings.cs
  OpenTabletDriver.Plugin/Tablet/AnalogSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/IAbsoluteAnalogReport.cs
  OpenTabletDriver.Plugin/Tablet/IAbsoluteSingleAnalogReport.cs
  OpenTabletDriver.Plugin/Tablet/IRelativeAnalogReport.cs
  OpenTabletDriver.Plugin/Tablet/IRelativeSingleAnalogReport.cs
  OpenTabletDriver.Plugin/Tablet/TabletSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/Wheel/IAbsoluteWheelReport.cs
  OpenTabletDriver.Plugin/Tablet/Wheel/IRelativeWheelReport.cs
  OpenTabletDriver.Plugin/Tablet/Wheel/IWheelButtonReport.cs
  OpenTabletDriver.Plugin/Tablet/WheelSpecifications.cs
  OpenTabletDriver.UX/Controls/Bindings/WheelBindingEditor.cs
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
Labels: configuration, daemon, desktop, gui, plugins

(minor) lint
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2AuxReport.cs
Labels: configuration

tests: Verify tablet config wheel `AngleOfZero` only exists on non-relative wheels
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 16 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-470.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-670.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-870.json
  OpenTabletDriver.Configurations/Configurations/XOPPOX/D161.json
  OpenTabletDriver.Tests/ConfigurationTest/ConfigurationTest.cs
  OpenTabletDriver.Tests/ConfigurationTest/TestData.cs
Labels: configuration, tests

(minor) silence null-reference warning in test build
  OpenTabletDriver.Tests/ConfigurationTest/TestData.cs
Labels: tests

Tablet Config spec: Simplify button count on wheels
  OpenTabletDriver.Configurations/Configurations/Huion/HS610.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 16 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-451.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-460.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-651.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-660.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-851.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-860.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-1240.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-470.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-540WL.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-640.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-670.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-840.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-870.json
  OpenTabletDriver.Configurations/Configurations/XOPPOX/D161.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3 Pro V2.json
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Plugin/Tablet/WheelSpecifications.cs
Labels: configuration, desktop, plugins

AnalogSpecifications: Add ToString override
  OpenTabletDriver.Plugin/Tablet/AnalogSpecifications.cs
Labels: plugins

Config: Add 2nd wheel for known tablets
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 16 (Gen 3).json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-670.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-870.json
Labels: configuration

(minor) add TODO's noticed during multi wheel PR
  OpenTabletDriver.Plugin/Tablet/ButtonSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/WheelSpecifications.cs
  OpenTabletDriver.UX/Controls/Bindings/WheelBindingEditor.cs
Labels: gui, plugins

TABLETS.md: Update new multi-wheel support
  TABLETS.md
Labels: none

TabletDebugger: Don't dispose tablet filter dropdown on refresh
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

GUI: Support reconnecting to daemon
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

MainForm: On daemon disconnect, restart watchdog (if relevant)
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

MainForm: Unsubscribe Log.Output even on daemon disconnect
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

Put logs to a backlog when no Output
  OpenTabletDriver.Plugin/Log.cs
Labels: plugins

Let GC completely collect the unused list
  OpenTabletDriver.Plugin/Log.cs
Labels: plugins
