Repository gonX/OpenTabletDriver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, configuration, console, core, daemon, desktop, documentation, gui, plugins, tests, linux/gtk, windows/wpf, macos

Log: Enable nullable code context
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver/Devices/RootHub.cs
Labels: core, plugins

(minor) satisfy linter
  OpenTabletDriver.Plugin/Log.cs
Labels: plugins

Automatic release notes: First attempt
  .github/release.yml
Labels: none

more of the same as previously
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Desktop/Interop/Display/WaylandDisplay.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/WindowsAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/EvdevRelativePointer.cs
  OpenTabletDriver.Desktop/Profiles/ProfileCollection.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.Native/OSX/CoreFoundation.cs
  OpenTabletDriver.Native/OSX/Generic/CGPoint.cs
  OpenTabletDriver.Native/OSX/IOkit/IOHIDAccessType.cs
  OpenTabletDriver.Native/OSX/IOkit/IOHIDRequestType.cs
  OpenTabletDriver.Native/OSX/IOkit/IOKit.cs
  OpenTabletDriver.Native/OSX/Input/CGEventType.cs
  OpenTabletDriver.Native/OSX/Input/CGMouseButton.cs
  OpenTabletDriver.Native/OSX/Input/CGMouseEventSubtype.cs
  OpenTabletDriver.Native/OSX/LibQuarantine.cs
  OpenTabletDriver.Plugin/Attributes/DeviceHubAttribute.cs
  OpenTabletDriver.Plugin/Attributes/PropertyAttribute.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.Plugin/Tablet/IAreaConverter.cs
  OpenTabletDriver.Plugin/Tablet/TabletSpecifications.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: daemon, desktop, gui, plugins, windows/wpf, macos

Tests: Test for sameish versions
  OpenTabletDriver.Tests/PluginMetadataTest.cs
Labels: tests

Make min of async elements frequency 1hz
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
Labels: plugins

Add a warning when frequency is lower than 101 hz
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
Labels: plugins

Daemon: Cache IUpdater
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

MouseScrollBinding: unbreak timer
  OpenTabletDriver.Desktop/Binding/MouseScrollBinding.cs
Labels: desktop

PluginSettingStore: Allow object construction to fail
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: desktop

properly handle repeat install/uninstall of plugins
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: daemon, desktop

MouseScrollBinding: Fix incorrect nullability
  OpenTabletDriver.Desktop/Binding/MouseScrollBinding.cs
Labels: desktop

(minor) lint
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: desktop

PluginManager: drop unnecessary usage of field
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: desktop

Restore default bindings for pen Adaptive Bindings
  OpenTabletDriver.Desktop/Binding/AdaptiveBinding.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
Labels: desktop

Desktop/Evdev: Use per-tablet device names
  OpenTabletDriver.Benchmarks/Output/LinuxInteropBenchmark.cs
  OpenTabletDriver.Desktop/Extensions.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Interop/Input/Exotic/EvdevVirtualPad.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/EvdevVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/EvdevRelativePointer.cs
  OpenTabletDriver.Native/Linux/Evdev/EvdevDevice.cs
Labels: desktop, linux/gtk

(minor) lint usings
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicV1WheelReport.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Interop/Input/Exotic/EvdevVirtualPad.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/EvdevVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/EvdevRelativePointer.cs
Labels: configuration, desktop

Introduce replacement for `[OnDependencyLoad]`: `[OnPropertiesLoaded]`
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Plugin/Attributes/OnPropertiesLoaded.cs
Labels: desktop, plugins

(minor) lint
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: desktop

Replace post-property injection approach with interface
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Plugin/Attributes/OnPropertiesLoaded.cs
  OpenTabletDriver.Plugin/DependencyInjection/IPropertiesInitialized.cs
Labels: desktop, plugins

Merge pull request #5005 from hadis-crystalis/0.6.x
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK850.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkTiltReportParser.cs
  TABLETS.md
Labels: configuration

DI: Intercept constructor selection for AdaptiveBinding
  OpenTabletDriver.Desktop/Binding/AdaptiveBinding.cs
  OpenTabletDriver.Desktop/Reflection/Autofac/OTDConstructorSelector.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: desktop

DeviceReader: Recover reader when `IndexOutOfRangeException` occurs when parsing tablet data
  OpenTabletDriver/Devices/DeviceReader.cs
Labels: core

DeviceReader: Remove superfluous null check
  OpenTabletDriver/Devices/DeviceReader.cs
Labels: core

Daemon: Rewrite output mode element initialization to account for new pipeline position
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

(minor) lint
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon

UX/AreaDisplay: Compensate displays for rotation
  OpenTabletDriver.Desktop/Helpers.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: desktop, gui

UX/AreaDisplay: Compensate displays for rotation
  OpenTabletDriver.Desktop/Helpers.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: desktop, gui

AppInfo: Move static properties into its own static class
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.IPC.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Binding/PresetBinding.cs
  OpenTabletDriver.Desktop/DesktopReportParserProvider.cs
  OpenTabletDriver.Desktop/Profiles/AbsoluteModeSettings.cs
  OpenTabletDriver.Desktop/RPC/DebugReportData.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Desktop/Static.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeDropDown.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeListBox.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/TrayIcon.cs
  OpenTabletDriver.UX/Windows/Plugins/MetadataViewer.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: console, daemon, desktop, gui

Driver: Silence 'Searching for tablet' spam on release builds
  OpenTabletDriver/Driver.cs
Labels: core

Driver: Log end of tablet detection loop
  OpenTabletDriver/Driver.cs
Labels: core

.github/labeler.yml:

# simple labels

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Configurations/Configurations/**'
    - 'OpenTabletDriver.Configurations/Parsers/**'

console:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Console/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver/**'

daemon:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Daemon/**'

desktop:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Desktop/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - 'README.md'

gui:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.UX/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - 'OpenTabletDriver.UX.Wpf/**'

meta:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '*'
      - 'eng/**'
      - 'OpenTabletDriver.Benchmarks/**'
    - all-globs-to-all-files:
      - '!.github/workflows'
      - '!README.md'
      - '!TABLETS.md'

plugins:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Plugin/**'

tests:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Tests/**'

# complex labels

'linux/gtk':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Linux/**'
    - 'OpenTabletDriver.UX.Gtk/**'
    - 'generate-rules.sh'
    - 'update-deps.sh'
    - '**/*Linux*' # TODO: verify that this works 1/3
    - '**/*.nix'
    - '**/flake.lock'

'windows/wpf':
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/Windows/**'
    - 'OpenTabletDriver/Devices/WinUSB/**'
    - 'OpenTabletDriver.UX.Wpf/**'
    - '**/*Windows*' # TODO: verify that this works 2/3
    - 'build.ps1'

macos:
- changed-files:
  - any-glob-to-any-file:
    - 'OpenTabletDriver.Native/OSX/**'
    - 'OpenTabletDriver.UX.MacOS/**'
    - '**/*MacOS*' # TODO: verify that this works 3/3
